<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wei.pl2303_test">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="ANDROID.PERMISSION.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.wei.usb_demo.app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.wei.usb_demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wei.usb_demo.activity.WriteDeviceActivity" />
        <activity android:name="com.example.wei.usb_demo.activity.BloodOxygenLineActivity" />

        <receiver android:name="com.example.wei.usb_demo.usb_device.UsbHandle">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.wei.usb_demo.activity.BloodPressureActivity" />
        <activity android:name="com.example.wei.usb_demo.activity.BloodRecordActivity" />
        <activity android:name="com.example.wei.usb_demo.activity.RealtimeActivity" />
        <activity
            android:name="com.example.wei.usb_demo.activity.DialogActivity"
            android:theme="@style/dialogstyle" />
        <activity android:name="com.example.wei.usb_demo.activity.BloodSugarActivity" />
        <activity android:name="com.example.wei.usb_demo.activity.ReadCardActivity" />
        <activity android:name="com.example.wei.usb_demo.activity.PrinterActivity" />

        <service android:name="com.example.wei.usb_demo.utils.printer_utils.myprinter.WorkService" />

        <activity android:name="com.example.wei.usb_demo.activity.HeartRateActivity"></activity>
        <activity android:name="com.example.wei.usb_demo.activity.EcgDataSourceReviewActivity"></activity>

        <provider
            android:name="com.example.wei.usb_demo.common.database.provider.DnurseProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <meta-data
            android:name="SERVER_MODE"
            android:value="${server_mode}" />
    </application>

</manifest>